.todo-container{
width:500px;
margin:40px auto;
padding:20px;
background:#ffffff;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

/* DARK MODE CONTAINER */

.todo-container.dark{
background:#1e1e1e;
color:#e6e6e6;
box-shadow:0 2px 12px rgba(0,0,0,0.5);
}

.todo-container h2{
text-align:center;
margin-bottom:20px;
}


/* INPUT SECTION */

.todo-input{
display:flex;
gap:10px;
margin-bottom:20px;
border: #2c2c2c;
}

.todo-input input{
flex:1;
padding:8px;
border-radius:6px;
border:1px solid #842222;
}

/* DARK INPUT */

.todo-container.dark .todo-input input{
background:#2c2c2c;
border:1px solid rgb(213, 213, 82);
color:#fff;
}

.todo-input button{
padding:8px 15px;
border-radius:6px;
background: #d5cc4b;
  color: whitesmoke;
  border: 2px solid red;
  cursor: pointer;
transition:0.2s;
}

.todo-input button:hover{
 background-color: rgba(128,128,128,0.667);
  border: 2px solid white;
  color: #000000cc;
  transform: translate(2px,2px);
}

/* DARK BUTTON */

.todo-container.dark .todo-input button{
background-color: #785bc1;
  color: #f3f4f6;
  border: 2px solid rgb(201, 234, 13);
}

.todo-container.dark .todo-input button:hover{
opacity: 0.8;
  background-color: #9ca3af;
  color: black;
  border: 2px solid rgb(211, 58, 12);
}

/* LIST */

.todo-list{
list-style:none;
padding:0;
}

.todo-list li{
display:flex;
justify-content:space-between;
padding:10px;
border-bottom: 1px solid rgb(197, 162, 162);
cursor:pointer;
transition:0.2s;
}

/* DARK LIST */

.todo-container.dark h2{
    color: #d2c296;
}

.todo-container.dark .todo-list li{
border-bottom:1px solid #dcdeaa;
}

/* HOVER */

.todo-list li:hover{
background:#f5f5f5;
}

.todo-container.dark .todo-list li:hover{
background:#2a2a2a;
}

/* COMPLETED */

.completed{
text-decoration:line-through;
color:gray;
}

/* DELETE BUTTON */

.delete-btn{
color:red;
font-weight:bold;
cursor:pointer;
padding-left:10px;
}